@using EntityFrameworkVsCoreDapper.Results
@model IEnumerable<ResultView>

<div style="display:flex">
    <div class="mr-lg-5">Select Single Objects</div>

    <div class="mr-lg-5">Count Products: @ViewBag.CountProducts</div>
    <div>Count Customers: @ViewBag.CountCustomers</div>
</div>
<last-result last-result="@ViewBag.LastResult"></last-result>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 5%" scope="col">#</th>
            <th style="width: 18%" scope="col">Dapper</th>
            <th style="width: 18%" scope="col">Ef 6</th>
            <th style="width: 18%" scope="col">Ef Core</th>
            <th style="width: 18%" scope="col">Ef Core AsNoTracking</th>
            <th style="width: 18%" scope="col">Ef Core AsNoTracking Hard Sql</th>
        </tr>
    </thead>
    <tbody>
        @{
            var interac = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.EFCore.Interactions</td>

                    <cell-result action-retour="SelectSingles" interaction-element="@interac" action-name="SelectProductDapper" controller-name="Singles" item-result-view="@item.Dapper"></cell-result>
                    <cell-result action-retour="SelectSingles" interaction-element="@interac" action-name="SelectProductEf6" controller-name="Singles" item-result-view="@item.Ef6"></cell-result>
                    <cell-result action-retour="SelectSingles" interaction-element="@interac" action-name="SelectProductEfCore" controller-name="Singles" item-result-view="@item.EFCore"></cell-result>
                    <cell-result action-retour="SelectSingles" interaction-element="@interac" action-name="SelectProductEfCoreAsNoTracking" controller-name="Singles" item-result-view="@item.EfCoreAsNoTracking"></cell-result>
                    <cell-result action-retour="SelectSingles" interaction-element="@interac" action-name="SelectProductEfCoreAsNoTrackingHardSql" controller-name="Singles" item-result-view="@item.EfCoreAsNoTrackingHardSql"></cell-result>
                </tr>
                interac++;
            }
        }
    </tbody>
</table>



