@using EntityFrameworkVsCoreDapperNetFramework.Results
@using EfVsDapper.Mvc5.TagHelpers
@model ResultView

<tr>
    <td>@Model.EFCore.Interactions</td>

    @Html.GetCellResultTag(Model.Dapper, "Singles", "SelectProductDapper")
    @Html.GetCellResultTag(Model.Ef6, "Singles", "SelectProductEf6")
    @Html.GetCellResultTag(Model.EFCore, "Singles", "SelectProductEfCore")
    @Html.GetCellResultTag(Model.EfCoreAsNoTracking, "Singles", "SelectProductEfCoreAsNoTracking")
    @Html.GetCellResultTag(Model.EfCoreAsNoTrackingHardSql, "Singles", "SelectProductEfCoreAsNoTrackingHardSql")
</tr>