@using EntityFrameworkVsCoreDapper.Results
@model ResultView

<tr>
    <td>@Model.EFCore.Interactions</td>

    <cell-result action-name="SelectProductDapper" controller-name="Singles" item-result-view="@Model.Dapper"></cell-result>
    <cell-result action-name="SelectProductEf6" controller-name="Singles" item-result-view="@Model.Ef6"></cell-result>
    <cell-result action-name="SelectProductEfCore" controller-name="Singles" item-result-view="@Model.EFCore"></cell-result>
    <cell-result action-name="SelectProductEfCoreAsNoTracking" controller-name="Singles" item-result-view="@Model.EfCoreAsNoTracking"></cell-result>
    <cell-result action-name="SelectProductEfCoreAsNoTrackingHardSql" controller-name="Singles" item-result-view="@Model.EfCoreAsNoTrackingHardSql"></cell-result>
</tr>