@using EntityFrameworkVsCoreDapper.Results
@using EfVsDapper.Mvc.Helpers
@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>.Net 6 - Dapper vs EF vs ADO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="/js/chrono.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">.Net 6 - Dapper vs EF vs ADO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Queries
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Queries" asp-action="Index">Join Customers - Where Address and Products</a>

                                <a class="dropdown-item" asp-controller="Queries" asp-action="JoinProductWithCustomersAndAddressIndex">Join Product With Customers And Address Query sintax</a>
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" asp-controller="Querie2" asp-action="Index">Querie 2</a>

                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Complex" asp-action="SelectComplex">Select Complex</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Complex" asp-action="InsertComplex">Insert Complex</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Singles" asp-action="SelectSingles">Select Singles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Singles" asp-action="InsertSingles">Insert Singles</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reflection" asp-action="Index">Reflection</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reports
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index" asp-route-interactions="@InteractionsService.SelectComplexJson" , asp-route-operationType="@OperationType.SelectComplex">Select Complex</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index" asp-route-interactions="@InteractionsService.SelectSingleJson" , asp-route-operationType="@OperationType.SelectSingle">Select Singles</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index" asp-route-interactions="@InteractionsService.InsertComplexJson" , asp-route-operationType="@OperationType.InsertComplex">Insert Complex</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index" asp-route-interactions="@InteractionsService.InsertSingleJson" , asp-route-operationType="@OperationType.InsertSingle">Insert Singles</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="/Complex/InsertCustomerDapper?interactions=200000" class="badge badge-primary">
                                <i class="fas fa-sync-alt"></i> Insert 200 000 Customers
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - EfVsDapper.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <mini-profiler />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
